hr{
    width: 500px;
    margin-left: 0px;
    border: 0.5px dashed black;
}

.box1{
    width: 500px;
    border: 10px solid black;
    background-color: yellow;
    padding: 50px;
    margin-bottom: 20px;
}

.box2{
    box-sizing: border-box;
    width: 500px;
    border: 10px solid black;
    background-color: yellow;
    padding: 50px;
}

