h1,p,nav,a{
    border: 3px solid black;
    /* display: inline; */
    /* width: 550px;
    height: 100px; */
}

img{
    width: 500px;
    border: 10px inset green;
    padding: 10px;  
    margin: 50px;

}

a{
    margin: 30px;
    /* display:block; */
}

.a1{
    display: inline-block;
    padding: 20px;
    margin: 500px;
}