

h1{
    width: 500px;
    margin: 20px auto;
    border: 4px dotted black;

    /* padding: 23px 90px 70px 100px; clockwise direction*/

    /* padding-left: 23px;
    padding-bottom: 90px;          /*same
    padding-right: 70px;
    padding-top: 100px; */

    /* padding: 70px;            same in all sides */

    padding: 20px 40px;      /*20px in top bottom and 40px in left right*/

    /* margin: 100px;      same format as padding */

    background-color: yellow;
    

}