body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bg-color1{
    background-color: rgb(221, 238, 222);
}

.bg-color2{
    background-color: rgb(187, 199, 187);
}

.text-green{
    color: #0b4d0b;
}

span{
    background-color: skyblue;
}