.headings{
    color: darkgreen;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header{
    background-color: rgb(219, 238, 219);
}

main{
    background-color: rgb(233, 226, 226);
}

span{
    background-color: rgb(178, 205, 233);
}